**ASSIGNMENT 3**

NAME: Mathesh Raju

# Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

**What is 7 to the power of 4?**

In [ ]:
print(7**4)

2401

**Split this string:**

In [ ]:
txt = "Hi there sam!"

In [ ]:
print(txt.split())

['Hi', 'there', 'sam!']

**Given the variables:**

In [ ]:
planet = "Earth"
diameter = 12742

**Use .format() to print the following string:**

In [ ]:
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

**Given this nested list, use indexing to grab the word "hello"**

In [ ]:
lst_prnt = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
print(lst_prnt[3][1][2][0])

hello

**Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky**

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
print(d['k1'][3]["tricky"][3]['target'][3])

hello

**What is the main difference between a tuple and a list?**

**Create a function that grabs the email website domain from a string in the form:**

user@domain.com

**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domainGet(email):
  return email.split('@')[1]

In [ ]:
domainGet('user@domain.com')

'domain.com'

**Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.**

In [7]:
def find_dog(inpu):
  return 'dog' in inpu.lower().split()

In [8]:
find_dog('My dog name is shiro')

True

**Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.**

In [9]:
def countdog(inp):
  dog = 0
  for x in inp.lower().split():
    if x == 'dog':
      dog += 1
  return dog

In [10]:
countdog('dog barks at other dog in the group of dog')

3

# Problem

**You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.**

In [13]:
def bike_speed(speed,birthday):
  if(birthday):
    speed=speed-5
  if speed<= 60:
    return 'No Ticket'
  elif speed>=61 and speed<=80:
    return 'Small Ticket'
  elif speed>=81:
    return 'Big Ticket'

In [14]:
bike_speed(85,True)

'Small Ticket'

In [15]:
bike_speed(81,True)

'Small Ticket'

In [16]:
bike_speed(90,False)

'Big Ticket'

In [18]:
bike_speed(61,True)

'No Ticket'

**Create an employee list with basic salary values(at least 5 values for 5 employees) and using a for loop retreive each employee salary and calculate total salary expenditure.**

In [26]:
num = [55000, 97800, 89000, 91800, 32300]
sum = 0
for i in num:
  sum = sum + i
print("Total salary expenditure:", sum)

Total salary expenditure: 365900

Create two dictionaries in Python:

First one to contain fields as Empid, Empname, Basicpay

Second dictionary to contain fields as DeptName, DeptId.

Combine both dictionaries.

In [25]:
def Merge(dic1, dic2):
  res = {**dic1, **dic2}
  return res
dic1 = {'Empid' :22, 'Empname' :'Jeya', 'Basicpay' :44000}
dic2 = {'DeptName' :'Finance', 'DeptId' :10}
dic3 = Merge(dic1, dic2)
print(dic3)

{'Empid': 22, 'Empname': 'Jeya', 'Basicpay': 44000, 'DeptName': 'Finance', 'DeptId': 10}